      
        {% extends "header.html" %}

    
      
     {% block content%} 
      
      <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="row1" align="center">
          <img class="img-circle" src="../static/img/Veterans.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>{{result.0.name}}</h2>
          <p>{{result.0.description}}</p>
          <p><a class="btn btn-default" onclick="openPortfolioSite()" role="button">View details &raquo;</a></p>

      </div><!-- /.row -->

  <hr class="featurette-divider">

    <div class="row" id="row2" align="center">
      <img class="img-circle" src="../static/img/women.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>{{result.1.name}}</h2>
      <p>{{result.1.description}}</p>
      <p><a class="btn btn-default" onclick="openPortfolioSite()" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

<!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">GoodCity - Chicago!<span class="text-muted"> - Human Investment Organization.</span></h2>
          <p class="lead">For over 30 years, Goodcity has been committed to starting, growing, and "investing" in entrepreneurs who are making a difference in under-resourced urban communities. We work with both nonprofit organizations and for-profit organizations who promote self-sufficiency, hope and purpose in the communities they are a part of.</p>
        </div>
        <div class="col-md-5">
          <video width="520" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/GoodCity-Chicago.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
          <h2 class="featurette-heading">INVEST Chicago <span class="text-muted"> customizes giving.</span></h2>
          <p class="lead"> Chicagoans invest their time, talents and/or finances toward a portfolio of vetted social entrepreneurs and non-profits working to solve complex problems in their own communities.</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <video width="550" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/INVEST-Chicago-vid.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <hr class="featurette-divider">
        
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">INVEST Chicago <span class="text-muted">is human centric.</span></h2>
          <p class="lead">We support organizations with strong leadership, which we believe is vital to the short and long-term stability of an organization or enterprise.</p>
        </div>
        <div class="col-md-5">
          <video width="520" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/GoodCity-30years.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
          <h2 class="featurette-heading">INVEST Chicago <span class="text-muted">is urban focused.</span></h2>
          <p class="lead"> We collaborate with our government, foundations and corporate partners to co-invest in projects that support under-served and under-resourced communities throughout Chicago.</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <video width="550" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/JImmy-Lee.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <hr class="featurette-divider">
        
        <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">INVEST Chicago <span class="text-muted">is innovative. </span></h2>
          <p class="lead">We provide philanthropic grants to non-profits and social enterprises and offer impact investment opportunities to individuals and enterprises who want to support ideas that are strategic, sustainable and unique.</p>
        </div>
        <div class="col-md-5">
          <video width="520" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/Sylvia.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
          <h2 class="featurette-heading">INVEST Chicago <span class="text-muted">is partnership driven.</span></h2>
          <p class="lead">We partner with leading Chicago brands and corporations to provide “Thank you” benefits to those who invest in us.</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <video width="550" controls>
            <source src="https://s3-us-west-2.amazonaws.com/videos-icido/automotive.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->
        <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Goodcity &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    {% endblock %}
